* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100%;
}

body {
  background-color: black;
}

a {
  text-decoration: none;
}

.body {
  top: 150px;
  width: 100%;
  height: 2000px;
  padding-top: 60px;
  position: absolute;
  z-index: 1;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.menu {
  background-color: rgba(0, 255, 0, 0.2);
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 1px solid black;
  z-index: 1;
}

.menu h1 {
  padding-top: 10px;
  text-align: center;
}

.links-menu {
  text-align: end;
}

.menu li {
  display: inline-block;
  padding: 0 10px 5px 0;
}

.menu a {
  color: white;
}

.mudar-cor-do-link:hover {
  color: rgb(0, 255, 0);
}

.videos-centralizados {
  position: relative;
  text-align: center;
  margin-bottom: 10px;
}

.video,
.video-youtube {
  position: relative;
  display: inline-block;
  padding: 10px;
  text-shadow: none;
}

.video video {
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 20px;
  width: 640px;
}

.video-youtube iframe {
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 20px;
  width: 640px;
  height: 358px;
}

.audios-centralizados {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.audios-centralizados audio {
  width: 640px;
}

.audio-1,
.audio-2 {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 0 10px;
  text-shadow: none;
}

.centralizar-links {
  position: relative;
  text-align: center;
  top: 230px;
}

.links a {
  font-size: 30px;
  color: rgb(146, 73, 73);
  margin: 30px;
  font-weight: bold;
}

.barra-separar {
  position: relative;
  top: 300px;
  text-align: center;
  border-top: 2px solid white;
  margin: 0 250px;
}

.sobre-mim {
  position: relative;
  top: 70px;
}

.sobre-mim iframe {
  width: 1300px;
}

.rodape-da-pagina {
  position: absolute;
  width: 100%;
  height: 250px;
  background-color: rgba(29, 29, 29, 0.562);
  bottom: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.253);
  display: inline-block;
}

.sobre-a-pagina {
  display: block;
  position: relative;
  text-align: justify;
  width: 400px;
  height: 100px;
  top: 55px;
  left: 200px;
  color: rgb(68, 68, 68);
}

.sobre-a-pagina h3 {
  padding-bottom: 8px;
}

.voltar-ao-topo {
  position: relative;
  text-align: center;
  top: 55px;
}

.voltar-ao-topo a {
  color: rgb(68, 68, 68);
}

.link-icone {
  padding-left: 5px;
  color: rgb(68, 68, 68);
  font-size: 20px;
}

.icones {
  position: relative;
  text-align: end;
  right: 350px;
}

.separar-icones {
  padding: 5px;
  display: inline-block;
}

.fa-instagram,
.fa-linkedin {
  color: rgb(68, 68, 68);
  font-size: 20px;
}

.fa-instagram:hover,
.fa-linkedin:hover,
.link-icone:hover {
  color: rgba(0, 255, 0, 0.2);
}

.imagem {
  position: relative;
  padding-top: 60px;
  top: 0;
  width: 100%;
  height: 100vh;
  display: block;
}
