* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  text-shadow: 2px 2px 2px black;
}

a {
  font-size: 30px;
  text-decoration: none;
  font-weight: bold;
}

.menu {
  background-color: rgba(0, 255, 0, 0.2);
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 1px solid black;
  z-index: 1;
}

.menu h1 {
  padding: 10px;
  font-size: 24px;
  text-align: center;
  color: white;
}

.links {
    position: relative;
    text-align: center;
    top: 100px;
}

.links a {
    display: inline-block;
    color: rgb(146, 73, 73);
    padding: 10px;
}

.link-voltar {
    position: relative;
    text-align: center;
    top: 350px;
}

.link-voltar a {
    color: rgba(0, 255, 0, 0.2);
}

.links a:hover {
  color: red;
}

.link-voltar a:hover {
  color: rgb(0, 255, 0);
}
