th,
td {
  border: solid 1px #ffffff;
  color: white;
  font-size: 20px;
  padding: 0 10px;
  text-align: center;
}

.cabecalho-moda {
  background-color: #bb86fc;
}

.cabecalho-casa {
  background-color: #00c4b4;
}

.valores {
  background-color: #424250;
}
